.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(32, 166, 243);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.bg-light {
  background-color: #138496 !important;
}

#bt-inserir {
padding-bottom: 15px;
}

#editar {
  padding-left: 15px;
  align-items: center;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1600px;
  background: white;
}

#divtabela {
  padding-left: 0px;
}
